@model ControleFinanceiro.Models.ParcelamentoNovoViewModel

@{
    ViewData["Title"] = "Cadastrar Parcelamento";
}

<h3>Cadastrar Parcelamento</h3>
<hr />

<form asp-action="Cadastrar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-2">
        <label asp-for="CodigoCategoria" class="control-label"></label>
        <select asp-for="CodigoCategoria" class="form-control" asp-items="@Model.Categorias">
            <option selected value="">Selecione uma categoria</option>
        </select>
        <span asp-validation-for="CodigoCategoria" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="CodigoCartao" class="control-label"></label>
        <select asp-for="CodigoCartao" class="form-control" asp-items="@Model.CartoesDePagamento">
            <option selected value="">Selecione um cartão de pagamento</option>
        </select>
        <span asp-validation-for="CodigoCartao" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Descricao" class="control-label"></label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <div class="form-check">
            <label asp-for="DespesaFixa" class="form-check-label"></label>
            <input asp-for="DespesaFixa" class="form-check-input" />
        </div>
    </div>
    <div class="mb-2">
        <label asp-for="QuantidadeParcela" class="control-label"></label>
        <input asp-for="QuantidadeParcela" class="form-control" />
        <span asp-validation-for="QuantidadeParcela" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="DataDaCompra" class="control-label"></label>
        <input asp-for="DataDaCompra" class="form-control" />
        <span asp-validation-for="DataDaCompra" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Valor" class="control-label"></label>
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Cadastrar</button>
        <button class="btn btn-light" asp-action="Index">Voltar</button>
    </div>

</form>





