@model ControleFinanceiro.Models.MovimentacaoRecorrenteEdicaoViewModel

@{
    ViewData["Title"] = "Editar Movimentação Recorrente";
}

<h3>Editar Movimentação Recorrente</h3>
<hr />


<form asp-action="Editar" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(x=>x.Codigo)
    <div class="mb-2">
        <label asp-for="CodigoTipo" class="control-label"></label>
        <select asp-for="CodigoTipo" class="form-control" asp-items="@Model.Tipos">
            <option selected value="">Selecione um tipo de movimentação</option>
        </select>
        <span asp-validation-for="CodigoTipo" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="CodigoCategoria" class="control-label"></label>
        <select asp-for="CodigoCategoria" class="form-control" asp-items="@Model.Categorias">
            <option selected value="">Selecione uma categoria</option>
        </select>
        <span asp-validation-for="CodigoCategoria" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Descricao" class="control-label"></label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="QuantidadeMovimentacao" class="control-label"></label>
        <input asp-for="QuantidadeMovimentacao" class="form-control" />
        <span asp-validation-for="QuantidadeMovimentacao" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="DataDaPrimeiraMovimentacao" class="control-label"></label>
        <input asp-for="DataDaPrimeiraMovimentacao" class="form-control" />
        <span asp-validation-for="DataDaPrimeiraMovimentacao" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Valor" class="control-label"></label>
        <input asp-for="Valor" class="form-control" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Editar</button>
        <a asp-action="Index" class="btn btn-light">Voltar</a>
    </div>
</form>



