@model ControleFinanceiro.Models.CategoriaEdicaoViewModel

@{
    ViewData["Title"] = "Editar Categoria";
}

<h3>Editar Categoria</h3>
<hr />

<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(x=>x.Codigo)
    <div class="mb-2">
        <label asp-for="Descricao" class="control-label"></label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="CodigoCategoriaPai" class="control-label"></label>
        <select asp-for="CodigoCategoriaPai" class="form-control" asp-items="@Model.CategoriasPais">
            <option selected value="">Selecione uma categoria pai</option>
        </select>
    </div>
    <div class="mb-2">
        <div class="form-check">
            <label asp-for="Ativo" class="form-check-label"></label>
            <input asp-for="Ativo" class="form-check-input" />
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Editar</button>
        <button class="btn btn-light" asp-action="Index">Voltar</button>
    </div>

</form>





